<form name="loginForm" class="form-signin" novalidate>
  <div ng-show="error" class="alert alert-danger">{{ error }}</div>
  <h2 class="form-signin-heading">{{ 'SIGNIN_TEXT' | translate }}</h2>
  <input type="text" name="username" ng-model="username" class="form-control" placeholder="{{ 'USERNAME' | translate }}" required autofocus="">
  <input type="password" name="password" ng-model="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" required>
  <div class="checkbox">
    <div class="forgot-password">
      <a ui-sref="forgor_password">{{ 'FORGOT_PASSWORD' | translate }}</a>
    </div>
  </div>
  <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="signIn()" ng-disabled="loginForm.$invalid">
  {{ 'SIGNIN' | translate }}
    <span ng-if="flag" loading-directive class="glyphicon glyphicon-refresh loading-icon"></span>
  </button>
</form>